<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books - Add</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <a class="btn btn-success" href="/add">Add a book</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/books">Book list</a>
        </nav>
    <h1>Add your book</h1>
        <hr>
         <form action="/add" method="POST" name="addBook" novalidate>
            {{ form.hidden_tag() }}

             <!-- TITLE -->
            {{ form.title(class_="form-control", placeholder="title") }}<br>
            {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>

             <!-- AUTHORS -->
             {{ form.authors(class_="form-control", placeholder="authors") }}<br>
            {% for error in form.authors.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>

             <!-- PUBLISHED DATE -->
             {{ form.publishedDate(class_="form-control", placeholder="publishedDate (format YYYY-MM-DD)")}}<br>
            {% for error in form.publishedDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>

             <!-- INDUSTRY IDENIFIERS -->
             {{ form.industryIdentifiers(class_="form-control", placeholder="industry identifiers")}}<br>
            {% for error in form.industryIdentifiers.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>

             <!-- PAGE COUNT -->
             {{ form.pageCount(class_="form-control", placeholder="page count") }}<br>
            {% for error in form.pageCount.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>

             <!-- IMAGE LINKS -->
             {{ form.imageLinks(class_="form-control", placeholder="image links") }}<br>
            {% for error in form.imageLinks.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>

             <!-- LANGUAGE -->
             {{ form.language(class_="form-control", placeholder="language") }}<br>
            {% for error in form.language.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>

             <!-- SUBMIT -->
             {{ form.submit(class_="btn btn-primary") }}<br>

        </form>
    </div>
</body>
</html>