<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Books spis</title>
</head>
<body>


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="btn btn-success" href="/add">Add a book</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/books">Book list</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="/import">Import books</a>
        </nav>
        <h1>List of books</h1>
        <form action="/books" method="POST" name="searchBook" novalidate>
            {{ form.hidden_tag() }}
            {{ form.text(class_="form-control", placeholder="write something") }}
            {% for error in form.text.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td>
            <br>
            {{ form.select.label }}
            {{ form.select(class_="form-control") }}<br>
            {{ form.submit }}
        </form>
        <br>
        <h2>Books found:</h2>

        <table class="list-group">
            {% for book in books %}
            <tr class="list-group-item">
                <td class="" width="200px"><img src={{book.imageLinks}}" alt="cover" height="200" width="150" /></td>
                <td class="">
                    <b>Title:</b> {{ book.title}}<br>
                    <b>Authors:</b> {{ book.authors}}<br>
                    <b>Published date:</b> {{ book.publishedDate}}<br>
                    <b>Industry identifiers:</b> {{ book.industryIdentifiers }} <br>
                    <b>Page count</b> {{ book.pageCount}} <br>
                    <b>Language:</b> {{ book.language}}<br><br>
                    <br>
                    <br>

                </td>

            </tr>

            {% endfor %}
        </table>
    </div>

</body>
</html>