<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Books spis</title>
</head>
<body>


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="btn btn-success" href="/add">Add a book</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-secondary" href="/books">Book list</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="/import">Import books</a>
        </nav>
        <h1>Import books</h1>
        <form action="/books" method="POST" name="searchBook" novalidate>
            {{ form.hidden_tag() }}
            {{ form.keyword(class_="form-control", placeholder="write keyword") }}
            {% for error in form.keyword.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}</td><br>

            <div class="dropdown">
              <button type="button" onclick="showFiltersMenu()" id="dropbtn" class="btn btn-primary">Add filters</button>
              <div id="myDropdown" class="dropdown-content">
                <a id="showTitle">Title</a>
                <a id="showAuthor">Author</a>
                <a id="showPublisher">Publisher</a>
                <a id="showSubject">Subject</a>
                <a id="showIsbn">ISBN</a>
                <a id="showLccn">LCCN</a>
                <a id="showOclc">OCLC</a>
              </div>
            </div>
            <br><br>
            <div id="titleShow" style="display:none" >
            {{ form.title(class_="form-control", placeholder="title") }}
            </div>
            <div id="authorShow" style="display:none">
            {{ form.author(class_="form-control", placeholder="author") }}
            </div>
            <div id="publisherShow" style="display:none">
            {{ form.publisher(class_="form-control", placeholder="publisher") }}
            </div>
            <div id="subjectShow" style="display:none">
            {{ form.subject(class_="form-control", placeholder="subject") }}
            </div>
            <div id="isbnShow" style="display:none">
            {{ form.isbn(class_="form-control", placeholder="isbn") }}
            </div>
            <div id="lccnShow" style="display:none">
            {{ form.lccn(class_="form-control", placeholder="lccn") }}
            </div>
            <div id="oclcShow" style="display:none">
            {{ form.oclc(class_="form-control", placeholder="oclc") }}
            </div>
            <br><br>
            {{ form.submit }}
            <br><br>
        </form>


        <br>
        <hr>
        <h2>Books found:</h2>
        <ul class="list-group">
            {% for book in books %}
            <li class="list-group-item">
                <img src="{{book.imageLinks}}" alt="cover" height="100" width="70" /> <b>Title:</b> {{ book.title }}, <b>Authors:</b> {{book.authors}}, <b>Date published:</b> {{book.publishedDate.date()}}, <b>ISBN:</b> {{book.industryIdentifiers}}, <b>Page count</b> {{book.pageCount}}, <b>Language:</b> {{book.language}}</li>
            {% endfor %}
        </ul>
    </div>





    <script>
        $(document).ready(function(){
          $("#showTitle").click(function(){
            $("#titleShow").show();
          });
          $("#showAuthor").click(function(){
            $("#authorShow").show();
          });
          $("#showPublisher").click(function(){
            $("#publisherShow").show();
          });
          $("#showSubject").click(function(){
            $("#subjectShow").show();
          });
          $("#showIsbn").click(function(){
            $("#isbnShow").show();
          });
          $("#showLccn").click(function(){
            $("#lccnShow").show();
          });
          $("#showOclc").click(function(){
            $("#oclcShow").show();
          });
        });
    </script>

    <script>
    function showFiltersMenu() {
      document.getElementById("myDropdown").classList.toggle("show");
    }



    window.onclick = function(event) {
      if (!event.target.matches('#dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }



    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>